body, .card, .box, .textarea, .footer, .table, .select select, select option
	{
	background-color: #2e3436;
}

body *, container *, .label, .textarea, .select select {
	color: white;
}

.option {
	color: #363636 !important;
}

.message {
	background-color: #292929;
}

.content table td, .content table th {
	border-color: rgba(219, 219, 219, .5);
	color: white;
}

.footer {
	background-color: #292929;
}

#logout:hover span {
	color: #0a0a0a;
}

.content-background {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%,
		rgba(46,52,54, 0.9) 10%, rgba(46,52,54, 0.9) 100%);
}

@media screen and (max-width: 1024px) {
	.profile-bottom.dimmed {
		background: rgba(46,52,54, 0.9);
	}
}