.image img {
	max-height: 400px;
	max-width: 400px;
}

.card {
	padding: 24px;
	border: 1px solid #dbdbdb;
	margin-bottom: 24px;
}

.button.colored svg {
	color: white;
}

.profile-bottom .button {
	height: 58px;
}

.card-content .content {
	height: 313px;
}

.content {
	padding-top: 36px;	
}

@media screen and (max-width: 1024px) {
	.card.is-horizontal {
		flex-direction: column !important;
	}
	.card {
		border: initial;
		border-top: 1px solid #d3d3d3;
		border-radius: 0px !important;
		height: calc(100vh - 236px);
		position: relative;
	}
	.card-image {
		z-index: 1;
	}
	.card-content {
		height: initial;
		z-index: 2;
		margin-top: -150px;
		position: absolute;
		bottom: 0;
	}
	.card-content .content {
		height: initial;
	}
	.image img {
		max-height: calc(100vh - 280px);
		max-width: calc(100vh - 280px);
		margin-bottom: 24px;
		/*width: auto;*/
		/*height: auto;*/
	}
	.section {
		padding: 1rem 1.5rem;
	}
	
	.content-background {
		height: 100%;
		z-index: 0;
		background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255,255,255,0.9) 10%, rgba(255,255,255,0.9) 100%);
	}
	
	.profile-bottom.dimmed {
		background: rgba(255,255,255,0.9)
	}
}
/*very small screens*/
@media screen and (max-width: 600px) {
	.section {
		padding: 0.5rem 0.5rem;
	}
	#distance-spacing {
		padding-left: 4px !important;
	}
	#sort-search-spacing {
		padding-left: 4px !important;
	}
	.image img {
		padding-bottom: 4px;
		max-width: initial;
		min-height: 100vw;
		min-width: 100vw;￼
	}
	.media {
		margin-top: 0.2em !important;
		margin-bottom: 0.2em !important;
	}
	.searched {
		display: none;
	}
	.card {
		padding: 1em 0em;
		height: calc(100vh - 132px);
	}
	
	.card-content {
		margin: 0;
		padding: initial !important;
	}
	.content {	
		padding: 12px;
		padding-top: 36px;	
	}
	
	.profile-bottom {
		padding-left: 12px;
		padding-right: 12px;
	}
}

/*https://github.com/jgthms/bulma/pull/1596#issuecomment-556416927*/
.card.is-horizontal {
	flex-direction: row;
	display: flex;
	flex-basis: 50ex;
	flex-grow: 0;
	flex-shrink: 1;
	box-shadow: none;
}

.card.is-horizontal .card-image {
	align-self: center;
}

.card.is-horizontal .image {
	min-height: 100%;
}

.card.is-horizontal .card-content {
	flex: 1;
}

.card.is-horizontal .card-content {
	padding-left: 1em;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 0.8em;
}