<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="Alovoa">
<link rel="manifest" href="/json/manifest.json">

<link rel="stylesheet" href="/css/lib/bulma.min.css" />
<link rel="stylesheet" href="/css/lib/bulma-switch.min.css" />
<link rel="stylesheet" href="/css/alovoa.css" />
<link th:if="${user.theme == 1}" rel="stylesheet" href="/css/alovoa-dark.css" />
<title th:text="#{delete-account.title}"></title>
</head>
<body>
	<div id="main-logged-in">
		<header th:insert="fragments.html::header-logged-in"></header>

		<div class="section">
			<div class="container">
				<h3 class="title" th:text="#{delete-account.title}"></h3>
				<form th:action="@{/user/delete-account-confirm}" method="POST"
					id="delete-account-form">
					<input type="hidden" name="tokenString" th:value="${tokenString}"
						required>
					<div class="field">
						<input name="email" th:placeholder="#{email}" class="input">
					</div>
					<div style="padding-top: 32px;"></div>
					<div class="field">
						<input id="captcha-id" name="captchaId" type="hidden">

						<div class="field">
							<img id="captcha-image">
							<button type="button" class="button" onclick="refreshCaptcha()"
								style="height: 70px; width: 70px; font-size: 1.7rem; margin-left: 12px;">
								<i class="fa fa-sync"></i>
							</button>
						</div>
						<div class="field">
							<input class="input" id="captcha" name="captchaText"
								th:placeholder="#{captcha}" autocomplete="off" required>
						</div>
					</div>
					<div class="field">
						<input id="confirm" type="checkbox" name="confirm" class="switch"
							style="position: absolute" required> <label for="confirm"><span th:text="#{delete-account.confirm}"></span> </label>
					</div>
					<button class="button" th:text="#{submit}"></button>
				</form>
			</div>
		</div>


	</div>
	<footer th:replace="fragments.html::footer"></footer>

	<script src="/js/lib/fontawesome.all.js"></script>
	<script src="/js/lib/jquery.min.js"></script>
	<script src="/js/tools/refreshCaptcha.js"></script>
	<script src="/js/tools/getText.js"></script>
	<script src="/js/delete-account.js"></script>
</body>
</html>