html {
	min-width: 240px;
}

button {
	cursor: pointer;
}

.center-parent {
	display: flex;
	align-items: center;
	justify-content: center;
}

#captcha-refresh-button {
	height: 70px;
	width: 70px;
	font-size: 1.7rem;
	margin-left: 12px;
}

#main {
	min-height: 100vh;
}

#main-logged-in {
	min-height: calc(100vh - 44px);;
}

.navbar-brand {
	text-transform: uppercase;
}

.profile-pic {
	border-radius: 12px;
}

svg {
	color: #209cee;
}

.card {
	border-radius: 12px;
}

.navbar-item img {
	max-height: initial;
}

.select, .select select {
	width: 100%;
}

.asterisk {
	float: left;
	padding-left: 4px;
	color: red;
}

.left {
	float: left;
}

.colored svg {
	color: white;
}

.register-warning {
	color: red;
	padding-bottom: 8px;
}

.navbar {
	display: flex;
	background-image: linear-gradient(141deg, #159dc6 0, #3298dc 71%, #4389e5 100%);
}

.navbar-end {
	justify-content: flex-end;
	margin-left: auto;
	display: flex;
}

.navbar-item svg {
	color: white;
	padding-right: 4px;
	font-size: 1.5em;
}

.navigation-item.new * {
	color: #FFA000 !important;
}

.navigation-item div {
	margin: auto;
}

.navigation-item div svg {
	padding-right: 4px;
}

.notification {
	padding: 0.5rem 1rem 0.5rem 1rem;
}

.center-children {
	display: flex;
	justify-content: center;
}

.slider-container {
	display: flex;
}

.slider {
	flex: 1;
}

.slider-container p {
	padding-left: 8px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.full-width {
	width: 100%;
}

.button.icon-and-text svg {
	margin-right: 4px;
}

.hidden {
	visibility: hidden;
}

.datetimepicker-clear-button {
	display: none;
}

input[type=range].slider {
	margin: initial;
}

.datepicker-nav svg {
	color: white;
}

@media screen and (max-width: 400px) {
	#navbar-text {
		display: none;
	}
	#oauth-div button span {
		font-size: 16px;
	}
	#captcha-image {
		width: 156px;
	}
	#captcha-refresh-button {
		width: 60px;
	}
}

.datetimepicker-dummy-input {
	min-width: 232px;
}

.datepicker-nav .button.is-text:active, .datepicker-nav .button.is-text:focus
	{
	background: #00d1b2;
}

.datepicker-year span, .datepicker-month, .date-item {
	color: #4a4a4a !important;
}

#iframe-div {
	position: fixed;
	display: none;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
}

#iframe-close-icon {
	padding: 4px;
	height: 50px;
	width: 50px;
	margin-right: 12px;
	cursor: pointer;
}

#iframe-header {
	height: 50px;
	display: flex;
	justify-content: right;
	background-color: white;
	border-bottom: 1px solid rgba(219, 219, 219, .5);
}

#iframe {
	width: 100vw;
	height: calc(100vh - 50px);
}

@media screen and (max-width: 700px) {
	.navigation-item span {
		display: none;
	}
}

/* DARK THEME */
@media ( prefers-color-scheme : dark) {
	body, .card, .box, .textarea, .footer, .table, .select select, select option
		{
		background-color: #121212;
	}
	.button:not(.colored):not(.datetimepicker-footer-cancel):not(.datepicker-nav-previous):not(.datepicker-nav-next)::hover
		{
		background-color: #121212;
		color: white;
	}
	.input {
		background-color: #121212;
		color: white;
	}
	.message {
		background-color: black;
	}
	.option {
		color: #121212 !important;
	}
	body *, container *, .subtitle, .label, .content h4, .textarea, .select select
		{
		color: white;
	}
	.content table td, .content table th {
		border-color: rgba(219, 219, 219, .5);
		color: white;
	}
	.footer {
		background-color: #000000;
	}
	p a {
		color: #3273dc;
	}
	#logout:hover span {
		color: #0a0a0a;
	}
	.input::placeholder {
		color: #E0E0E0;;
	}
	textarea::placeholder {
		color: white !important;
		opacity: 0.5;
	}
	.title {
		color: white;
	}
	.card, .box {
		box-shadow: 0 .5em 1em -.125em rgba(10, 10, 10, .9), 0 0 0 1px
			rgba(10, 10, 10, .9);
	}
	.datetimepicker-dummy-input {
		color: white !important;
	}
	.datetimepicker-footer-cancel svg {
		color: #209cee !important;
	}
	#addImageDiv path {
		color: #209cee;
	}
	#iframe-header {
		background-color: #121212;;
		border-bottom: 1px solid rgba(219, 219, 219, .5);
	}
	@media screen and (max-width: 1024px) {
		.content-background {
			background: rgba(18, 18, 18, 0.9) !important;
		}
		.profile-bottom.dimmed {
			background: rgba(18, 18, 18, 0.9) !important;
		}
	}
}

/* KAIOS Screns are very small */
@media screen and (max-width: 302px) {
	#navbar-item-register {
		display: none;
	}
	#oauth-div span {
		display: none;
	}
	#audio {
		width: 208px;
	}
	.box {
		box-shadow: initial;
	}
	#header-logged-in {
		display: none;
	}
	.profile-bottom .button {
		padding: 12px;
		height: 42px !important;
	}
	#donate-modal svg {
		display: none;
	}
	.modal-content {
		max-height: 100%;
	}
	.modal-content .box {
		border-radius: 0px;
	}
	#search-right .label {
		display: none;
	}
	#search-right {
		display: block;
	}
	#filter-div:not(.searched) {
		max-width: 100%;
		display: inline-block;
	}
	#filter-div .slider-container {
		width: 160px;
	}
	#max-distance-slider {
		width: 120px;
	}
	.content-background {
		display: none;
	}
	#main-logged-in {
		min-height: calc(100vh - 52px);
	}
	.user-search-div {
		min-height: calc(100vh - 52px);
	}
	.profile-bottom {
		height: initial !important;
	}
	.profile-bottom.dimmed {
		background: rgba(0, 0, 0, 0.0) !important;
	}
	/*
	.view-profile-div {
		padding-top: initial !important;
	}
	*/
	.notification-div {
		min-width: initial !important;
	}
	.notification-card .profile-pic {
		height: 40px;
	}
	.messages-card .profile-pic {
		height: 40px;
	}
	#message-send-button {
		padding: 0;
		height: 40px !important;
		width: 40px !important;
	}
	#message-send-input {
		width: calc(100% - 52px - 2px) !important;
		padding-top: 0.1em;
		padding-bottom: 0.1em;
		font-size: 1rem;
	}
	#messages-div {
		min-height: calc(100vh - 220px) !important;
	}
	.modal-content .box {
		padding: 6px;
	}
	#donate-cards-div {
		height: calc(100vh - 122px) !important;
	}
}