.card {
	/*height: calc(100vh - 262px);*/
	height: initial;
}

.image img {
    max-height: calc(100vh - 580px);
    max-width: calc(100vh - 580px);
}

.card-image {
	margin-top: 8px;
}

.card-content {
	position: initial;
}

.profile-pic:hover {
	cursor: pointer;
}

.card-image {
    width: initial;
}