.card {
	height: initial;
}

.card-content {
	position: initial;
}

.profile-pic:hover {
	cursor: pointer;
}

.card-image {
    width: initial;
}

#donation-select {
	flex: 1;
	margin-right: 4px;
}

#donate-button {
	flex: 1;
}

#main-container {
	overflow-y: scroll;
}

#donate-bottom {
	display: flex;
	padding: initial;
	padding: 1em;
}

#donate-top-margin {
	margin-top: 8px;
}

@media screen and (max-width: 1024px) {
	#donate-cards-div {
		 margin-bottom: 0px;
	}
	
	.card.is-horizontal {
	    margin-top: initial;
	}
	
	#main-container {
		scroll-snap-type: y mandatory;
	 	height: calc(100vh - 182px);
 	 	height: calc(100 * var(--vh) - 182px);
	}
}

@media screen and (max-width: 600px) {
	#donate-top-margin {
		margin-top: 0px;
	}
}

@media screen and (max-width: 450px) {
	#donate-now-text {
		display: none;
	}
}

/* KAIOS Screns are very small */
@media screen and (max-width: 302px) {
	#main-container {
	    height: calc(100vh - 120px);
	    height: calc(100 * var(--vh) - 120px);
	}
}