.card {
	height: initial;
}

.card-content {
	position: initial;
}

.profile-pic:hover {
	cursor: pointer;
}

.card-image {
    width: initial;
}

#donation-select {
	flex: 1;
	margin-right: 4px;
}

#donate-button {
	flex: 1;
}

#main-container {
	overflow-y: scroll;
}

#donate-top-margin {
	margin-top: 8px;
}

@media screen and (max-width: 1024px) {
	#donate-cards-div {
		 margin-bottom: 0px;
	}
	
	.card.is-horizontal {
	    margin-top: initial;
	}
	
	#main-container {
		scroll-snap-type: y mandatory;
	 	height: calc(100vh - 112px);
 	 	height: calc(100 * var(--vh) - 112px);
	}
	
	.card-image {
		margin-top: 16px;
	}
	
	.donate-user-card .content {
		padding: 12px;
	}
}

@media screen and (max-width: 600px) {
	#donate-top-margin {
		margin-top: 0px;
	}
}

@media screen and (max-width: 450px) {
	#donate-now-text {
		display: none;
	}
	.donate-user-card .content {
		padding-top: 0px;
	}	
	.description {
		padding-top: 2px !important;
	}
}

/* KAIOS Screns are very small */
@media screen and (max-width: 302px) {
	#main-container {
	    height: calc(100vh - 56px);
	    height: calc(100 * var(--vh) - 56px);
	}
}