#hero {
	height: calc(100vh - 56px);
	/*Pexels License for profile images*/
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.80) 100%)
		,linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.80) 100%)
		, url('/img/banner.webp');
}

#hero-padding {
	 height: calc(100vh - 350px);
}

.cards {
	padding: 1.5rem;
}

.column .card {
	height: 100%;
}
.card-image {
	font-size: 8rem;
	/*padding-top: 2rem;*/
	/*padding-bottom: 2rem;*/
	color: #209cee;
}

#cookie-banner {
	font-size: 0.9em;
}

#icon-free path {
	color: #e53935 !important;
}
#icon-open-source path {
	color: #f4511e !important;
}
#icon-private path {
	color: #ec407a !important;
}
#icon-ad-free path {
	color: #c0ca33 !important;
}
#icon-technology path {
	color: #43a047 !important;
}
#icon-for-you path {
	color: #00897b !important;
}

@media screen and (max-width: 600px) {
	#banner {
		 height: 300px;
	}
	
	#hero {
		background-size: 600px;
	}
}

@media screen and (max-width: 374px) {
	#banner {
		 height: 300px;
	}
	#hero-padding {
	 height: calc(100vh - 390px);
	}
}

@media screen and (max-height: 600px) {
	#hero .hero-body {
		padding: 1.5rem 1.5rem;
	}
}