.cards {
	padding: 1.5rem;
}

.column .card {
	height: 100%;
}
.card-image {
	font-size: 8rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	color: #209cee;
}

#banner {
	background-image: url('/img/banner.svg');
	height: 460px;
	position: relative;
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#cookie-banner {
	font-size: 0.9em;
}

#icon-free path {
	color: #e53935 !important;
}
#icon-open-source path {
	color: #f4511e !important;
}
#icon-private path {
	color: #ec407a !important;
}
#icon-ad-free path {
	color: #c0ca33 !important;
}
#icon-technology path {
	color: #43a047 !important;
}
#icon-for-you path {
	color: #00897b !important;
}