#top {
	border-bottom: 1px solid #dbdbdb;
	padding-bottom: 16px;
}

#first-name {
	font-size: 2em
}

#messages-div {
	height: calc(100vh - 370px);
	height: calc(100 * var(--vh) - 370px);
	overflow: auto;
}

#message-send-div {
	height: 50px;
}

#message-send-input {
	float: left;
	width: calc(100% - 52px - 14px);
}

#message-send-padding {
	float: left;
	margin-left: 14px;
	margin-top: 1px;
}

#message-send-button {
	float: left;
	width: 52px;
	height: 52px;
}

#message-send-button svg {
	color: white;
}

.chat-message {
	padding: 8px;
	margin-right: 4px;
	margin-left: 4px;
	max-width: 80%;
}

.chat-message.left {
	border-radius: 4px;
	background-color: rgba(127,127,127,0.1);
}

.profile-pic {
	height: 40px;
	width: 40px;
}

.section {
	padding-top: 24px;
	padding-bottom: 24px;
}

@media only screen and (max-width: 500px) {
	.profile-pic {
		border-radius: 290486px;
	}
}

@media only screen and (max-height: 900px) {
	#top {
		height: 60px;
	}
	#messages-div {
		height: calc(100vh - 370px);
		height: calc(100 * var(--vh) - 370px);
	}
	#first-name {
		font-size: 1.7em
	}
}


@media only screen and (max-width: 400px) {
	.section {
		padding-top: 12px;
		padding-bottom: 12px;
		padding-left: 8px;
		padding-right: 8px;
	}
	#messages-div {
		height: calc(100vh - 290px);
		height: calc(100 * var(--vh) - 290px);
	}
}