#main-container {
	padding-bottom: 52px;
}

.card-image:first-child img {
    border-top-left-radius:12px;
    border-top-right-radius: 12px;
}

.image img {
	max-height: 100px;
	max-width: 100px;
	min-width: 40px;
	min-height: 40px;
}

.card {
	padding: 24px;
	border: 1px solid #dbdbdb;
	margin-bottom: 24px;
	cursor: pointer;
}

.notification-div .button {
	height: 58px;
}

.notification-div {
	font-size: 2em;
}

.notification-card {
	min-height: 60px;
}

.notification-div {
	text-align: center;
	/*min-width: 240px;*/
}

.messages-name {
	font-size: 2em;
}
.message-preview {
	font-size: 1.2em;
}

/*https://github.com/jgthms/bulma/pull/1596#issuecomment-556416927*/
.card.is-horizontal {
	flex-direction: row;
	display: flex;
	flex-basis: 50ex;
	flex-grow: 0;
	flex-shrink: 1;
	box-shadow: none;
}

.card.is-horizontal .card-image {
	align-self: center;
}

.card.is-horizontal .image {
	min-height: 100%;
}

.card.is-horizontal .card-content {
	flex: 1;
}

.card.is-horizontal .card-content {
	padding-left: 1em;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 0.8em;
}

@media ( prefers-color-scheme : dark) {
	.card {
		border: 1px solid #535353;
	}
}
	
@media screen and (max-width: 500px) {
	
	.card-image:first-child img {
	    border-radius: 290486px;
	}
	.image img {
		height: 60px;
		width: 60px;
		border-radius: 290486px;
	}
	.section {
		padding: 0;
	}
	.notification-div {
		font-size: 1em !important; 
	}
	.card {
		border-radius: 0px;
		padding: 8px;
		margin-bottom: 0px;
		border-top: none !important;
		border-left: none !important;
		border-right: none !important;
		border-bottom: none !important;
		height: 72px;
	}
	.message-preview {
		font-size: 0.9em;
	}
	.messages-name {
		font-size: 1.2em;
	}
}	
	