.image img {
	max-height: 200px;
	max-width: 200px;
}

.card {
	padding: 24px;
	border: 1px solid #dbdbdb;
	margin-bottom: 24px;
	cursor: pointer;
}

.button svg {
	color: white;
}

.profile-bottom .button {
	height: 58px;
}

.card-content .content {
	/*height: 313px;*/
	
}

.profile-bottom {
	font-size: 2em;
	/*line-height: 150px;*/
}

.profile-bottom {
	text-align: center;
	min-width: 240px;
}

@media screen and (max-width: 500px) {
	.section {
		padding: 0;
	}
	.image img {
		max-height: initial;
		max-width: initial;
	}
	.profile-bottom {
		font-size: 1.2em !important; 
	}
	.card {
		border-radius: 0px;
		padding: 8px;
	}
}
/*https://github.com/jgthms/bulma/pull/1596#issuecomment-556416927*/
.card.is-horizontal {
	flex-direction: row;
	display: flex;
	flex-basis: 50ex;
	flex-grow: 0;
	flex-shrink: 1;
	box-shadow: none;
}

.card.is-horizontal .card-image {
	align-self: center;
}

.card.is-horizontal .image {
	min-height: 100%;
}

.card.is-horizontal .card-content {
	flex: 1;
}

.card.is-horizontal .card-content {
	padding-left: 1em;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 0.8em;
}