#main-logged-in {
    height: initial;
}

#webpush-button {
	display: none;
	width: 100%; 
	height: 100%; 
	white-space: normal;
}

.notification:not(:last-child) {
	margin-bottom: 0.5rem;
}

.swiper-wrapper {
	max-height: 300px;
	align-items: center;
}

#addImageDiv {
	border-radius: 12px;
}

#donate-box {
	margin-top: 24px;
}

#donate-box:hover, #donate-box *:hover {
	cursor: pointer;
}

.modal-image {
    max-height: 50vh;
    width: 420px;
    margin-bottom: 24px;
}

#profile-warning-collapsible {
	padding: 1.25rem; 
	display: flex; 
	justify-content: space-between; 
	border-radius: 4px;
	margin-top: 12px;
}

#navbar-link-profile-warning::after {
    border-color: white !important;
}

#profile-warning-collapsible.disabled {
	background-color:#757575;
}

.notification.is-warning.disabled {
	background-color: #9e9e9e;
}

#misc-info-field .label {
	font-weight: normal;
}

.modal-description {
    margin-bottom: 8px;
    padding: 8px;
}

.modal-content {
    max-height: 100vh;
}

@media screen and (max-width: 769px) {
    .modal-content {
        margin: 0 auto;
        width: 90%;
    }
}

@media screen and (max-width: 460px) {
	.box {
		padding: 0px;
		box-shadow: initial;
	}
	.section {
		padding: 0.5rem 1rem;
	}

	.modal-image {
        width: 80vw;
        margin-bottom: 24px;
    }

    .modal-description {
        font-size: 12px;
    }
}