.notification:not(:last-child) {
	margin-bottom: 0.5rem;
}

.swiper-wrapper {
	max-height: 300px;
	align-items: center;
}

@media screen and (max-width: 460px) {
	.box {
		padding: 0px;
	}
	.section {
		padding: 0.5rem 1rem;
	}
}