.image img {
	max-height: 300px;
	max-width: 300px;
}

.card {
	padding: 24px;
	border: 1px solid #dbdbdb;
	margin-bottom: 24px;
}

.button.colored svg {
	color: white;
}

.profile-bottom .button {
	height: 58px;
}

.card-content .content {
	height: 313px;
}

@media screen and (max-width: 1024px) {
	.card.is-horizontal {
		flex-direction: column !important;
	}
	.card {
		border: initial;
		border-top: 1px solid #d3d3d3;
		border-radius: 0px !important;
	}
	.card-content .content {
		height: initial;
	}
	.image img {
		max-height: initial;
		max-width: initial;
		padding-bottom: 24px;
	}
	
	.section {
    	padding: 1rem 1.5rem;
	}
}
/*very small screens*/
@media screen and (max-width: 500px) {

	.section {
    	padding: 0.5rem 0.5rem;
	}
	#distance-spacing {
		padding-left: 4px !important;
	}
	#sort-search-spacing {
		padding-left: 4px !important;
	}
	
	.image img {
		width: 150px;
		padding-bottom: 4px;
	}
	
	.media {
		margin-top: 0.2em !important;
		margin-bottom: 0.2em !important;
	}
	
	.searched {
		display: none;
	}
	
	.card {
		padding: 1em 0em;
	}
}

/*https://github.com/jgthms/bulma/pull/1596#issuecomment-556416927*/
.card.is-horizontal {
	flex-direction: row;
	display: flex;
	flex-basis: 50ex;
	flex-grow: 0;
	flex-shrink: 1;
	box-shadow: none;
}

.card.is-horizontal .card-image {
	align-self: center;
}

.card.is-horizontal .image {
	min-height: 100%;
}

.card.is-horizontal .card-content {
	flex: 1;
}

.card.is-horizontal .card-content {
	padding-left: 1em;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 0.8em;
}