html {
	background-image: url(/img/search-cover.webp);
}

#map {
	height: 90vh;
	min-height: 360px;
	width: 100%;
}

.image img {
	max-height: 400px;
	max-width: 400px;
}

.card {
	padding: 24px;
	box-sizing: border-box;
	border-bottom: 1px solid;
	border-color: #dbdbdb;
	border-radius: initial;
}

.button.colored svg {
	color: white;
}

.profile-bottom .button {
	height: 56px;
	width: 56px;
}

.card-content .content {
	height: 339px;
}

.content {
	padding-top: 36px;
}

#max-distance-slider {
	margin-right: 8px;
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	height: auto;
}

.card.is-horizontal {
	flex-direction: row;
	display: flex;
	box-shadow: none;
	margin-bottom: 16px;
}

.card.is-horizontal .card-image {
	align-self: center;
}

.card.is-horizontal .image {
	min-height: 100%;
}

.card.is-horizontal .card-content {
	flex: 1;
}

.card.is-horizontal .card-content {
	padding-left: 4em;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 0.8em;
}

.hidden {
	visibility: hidden;
}

.user-search-card {
	scroll-snap-align: start;
}

.user-search-div {
	margin-bottom: 24px;
	overflow-y: scroll;
	scrollbar-width: thin;
}

.content-background {
	padding-bottom: 8px;
}

.leaflet-popup-content {
	width: 56px !important;
}
.search-button-padding {
	padding-right: 24px;
}

.card-image {
	cursor: pointer;
}

.common-interests {
	padding-top: 8px;
}

.common-interests > div {
	padding: 0.4rem 0.8rem 0.4rem 0.8rem;
}

.description {
	padding-top: 8px;
}

@media screen and (max-width: 1024px) {
	.card.is-horizontal {
		flex-direction: column !important;
	}
	.card {
		border: initial;
		border-radius: 0px !important;
		height: calc(100vh - 236px);
		height: calc(100 * var(--vh) - 236px);
		position: relative;
		padding: 0px;
	}
	.card-image {
		z-index: 1;
		margin-top: 16px;
	}
	.card-content {
		height: initial;
		z-index: 2;
		margin-top: -150px;
		position: absolute;
		bottom: 0;
		width: 100%;
		margin: 0;
		padding: initial !important;
		width: 100%;
	}
	.card-content .content {
		height: initial;
	}
	.section {
		padding: 1rem 1.5rem;
	}
	.content-background {
		height: 100%;
		z-index: 0;
		/*background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255,255,255,0.9) 10%, rgba(255,255,255,0.9) 100%);*/
		background: rgba(255, 255, 255, 0.9)
	}
	.profile-bottom.dimmed {
		background: rgba(255, 255, 255, 0.9)
	}
	.profile-bottom {
		padding-left: 12px;
		padding-right: 12px;
		padding-bottom: 24px;
	}
	.content {
		padding: 12px;
		padding-top: 12px;
	}
	.user-search-card {
		height: 100%;
	}
	.user-search-div {
		scroll-snap-type: y mandatory;
		height: calc(100vh - 108px);
		height: calc(100 * var(--vh) - 97px);
	}
	.card-image {
		padding: 12px;
		padding-top: 0px;
	}
	.common-interests > div {
		font-size: 0.9em;
		padding: 0.3rem 0.7rem 0.3rem 0.7rem;
	}
	.description {
		padding-top: 6px;
	}
}
@media screen and (max-width: 600px) {
	.card.is-horizontal {
		margin-top: 0px;
		margin-bottom: 16px;
	}
	.section {
		padding: 0.5rem 0.5rem;
	}
	.media {
		margin-top: 0.2em !important;
		margin-bottom: 0.2em !important;
	}
	.card {
		padding: 0px;
		height: calc(100vh - 132px);
		height: calc(100 * var(--vh) - 132px);
		padding-top: 0px !important;
	}
	.card-image {
		width: 100%;
		margin-top: 0px;
	}
	.card-content {
		margin: 0;
		padding: initial !important;
		width: 100%;
	}
	.image img {
		max-height: initial;
		max-width: initial;
	}
	.user-search-div {
		margin-bottom: 0px;
	}
	.search-button-padding {
		padding-right: 12px;
	}
	.profile-bottom .button-small {
		height: 48px;
		width: 48px;
	}
	.common-interests > div {
		font-size: 0.7em;
		padding: 0.2rem 0.4rem 0.2rem 0.4rem;
	}
	.description {
		padding-top: 4px;
	}
}
@media screen and (max-width: 350px) {
	#donate-modal .media-left {
		display: none;
	}
}

@media screen and (min-width: 1024px) {
	.description {
		/*display: initial !important;*/
	}
	.search-visibility {
		display: none;
	}
}

@media screen and (max-width: 302px) {	
	.card-image {
		padding: 0px;
	}
}
	