#audio-play-button {
	margin-top: 12px;
	width: 115px;
}

.card-image:first-child img {
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

.profile-bottom .button {
	height: 56px;
	width: 56px;
}

#like-hide-bottom {
	padding-bottom: 24px; 
	position: sticky; 
	display: flex; 
	left: 0; 
	bottom: 0; 
	width: 100%; 
	align-items: center;
  	justify-content: center;
  	z-index: 1;
}

#verification-modal-content {
    width: 770px;
}

@media screen and (max-width: 768px) {
	.swiper-container-user-profile img {
		max-height: initial;
		max-width: initial;
		width: 100%;
	}
	.swiper-container-user-profile img {
		border-radius: 0px !important;
	}
	.swiper-container-user-profile {
		margin-top: 0px !important;
	}
	.container .content {
		padding: 1.5rem 1.5rem;
	}
	#user-profile-modal .swiper-container-user-profile {
		margin-top: 0px !important;
	}
	.swiper-container-user-profile {
		margin-top: 12px;
	}
    #verification-modal-content {
        width: 100%;
        padding: 1.25rem;
    }
    #verification-modal-box {
        padding: 2.45rem;
    }
    #verification-modal-section {
        padding: 3rem 1.5rem;
    }
}

@media screen and (max-width: 584px) {
    #verification-modal-content {
        padding: 12px;
    }
    #verification-modal-box {
        padding: 12px;
    }
    #verification-modal-section {
        padding: 4xp;
    }
}


