#audio-play-button {
	width: 115px;
}

.profile-bottom .button {
	height: 56px;
	width: 56px;
}

#like-hide-bottom {
	padding-bottom: 24px; 
	position: sticky; 
	display: flex; 
	left: 0; 
	bottom: 0; 
	width: 100%; 
	align-items: center;
  	justify-content: center;
  	z-index: 1;
}
@media screen and (max-width: 768px) {
	#main-logged-in .box, #main-logged-in .section {
		padding: 0px;
	}
	.container .content {
		padding: 1.5rem 1.5rem;
	}
}