<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="Alovoa">
	<link rel="manifest" href="/manifest/manifest.json">
	
	<link rel="stylesheet" href="/css/lib/bulma.min.css" />
	<th:block th:replace="fragments.html::bulma"></th:block>
	<th:block th:replace="fragments.html::ui-design"></th:block>
	<link rel="stylesheet" href="/css/lib/bulma-switch.min.css" />
	<link rel="stylesheet" href="/css/lib/swiper.min.css" />
	<link rel="stylesheet" href="/css/alovoa.css" />
	<title th:text="#{delete-account.title}"></title>
</head>
<body>
	<div id="main-logged-in">
		<header th:insert="fragments.html::header-logged-in"></header>

		<div class="section">
			<div class="container">
				<h3 class="title" th:text="#{delete-account.title}"></h3>
				<th:block th:if="${active}">
					<form th:action="@{/user/delete-account-confirm}" method="POST"
						id="delete-account-form">
						<input type="hidden" name="tokenString" th:value="${tokenString}"
							required>
						<div class="field">
							<input name="email" type="email" th:placeholder="#{email}"
								class="input" required>
						</div>
						<div style="padding-top: 32px;"></div>
						<div th:replace="fragments.html::captcha"></div>
						<div class="field">
							<input id="confirm" type="checkbox" name="confirm" class="switch"
								style="position: absolute" required> <label
								for="confirm"><span th:text="#{delete-account.confirm}"></span>
							</label>
						</div>
						<button class="button" th:text="#{submit}"></button>
					</form>
				</th:block>
				<th:block th:unless="${active}">
					<span th:text="#{delete-account.not-active}"></span>
				</th:block>
			</div>
		</div>


	</div>
	<footer th:replace="fragments.html::navigation"></footer>
	<footer th:replace="fragments.html::footer"></footer>

	<script src="/sw.js"></script>
	<script src="/js/lib/fontawesome.all.js"></script>
	<script src="/js/lib/jquery.min.js"></script>
	<script src="/js/lib/modal-fx.min.js"></script>
	<script src="/js/lib/swiper.min.js"></script>
	<script src="/js/tools/refresh-captcha.js"></script>
	<script src="/js/tools/get-text.js"></script>
	<script src="/js/tools/modal.js"></script>
	<script src="/js/alovoa.js"></script>
	<script src="/js/delete-account.js"></script>
	<script src="/js/user-profile-modal.js"></script>
</body>
</html>