<!DOCTYPE html>
<html th:lang="${lang}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="Alovoa">
<link rel="manifest" href="/json/manifest.json">

<link rel="stylesheet" href="/css/lib/bulma.min.css" />
<link rel="stylesheet" href="/css/alovoa.css" />
<link rel="stylesheet" href="/css/donate-list.css" />
<title th:text="#{donate.title}"></title>
</head>
<body>
	<div id="main">
		<header th:insert="fragments.html::header"></header>
		<div class="section">
			<div class="container">
				<a href="https://ko-fi.com/alovoa" class="button is-primary" style="width: 100%; margin-bottom: 32px;"><i
					class="fa fa-coins"></i><span th:text="#{kofi}" style="padding-left: 4px;"></span></a>
				<div class="notification is-success" th:text="#{donate.notice-1}" style="margin-bottom: 4px;"></div>
				<div class="notification is-success" th:text="#{donate.notice-2}"></div>
			</div>
		</div>


	</div>
	<footer th:replace="fragments.html::footer"></footer>
	
	<script src="/js/tools/getText.js"></script>
	<script src="/js/lib/fontawesome.all.js"></script>
	<script src="/js/lib/jquery.min.js"></script>
</body>
</html>