<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="Alovoa">
<link rel="manifest" href="/json/manifest.json">

<link rel="stylesheet" href="/css/lib/bulma.min.css" />
<link rel="stylesheet" href="/css/alovoa.css" />
<title>Donate</title>
</head>
<body>
	<div id="main-logged-in">
		<header th:insert="fragments.html::header-logged-in"></header>
		<div class="section">
			<div class="container is-small" style="display: flex">
				<div>
					<label class="label">Filter</label>
					<div class="select">
						<select id="sort" onchange="getDonationList">
							<option value="1">Latest donations</option>
							<option value="2">Largest donations</option>
						</select>
					</div>
				</div>
			</div>
		</div>

		<section class="container" id="main-container">
		</section>
	</div>

	<footer th:replace="fragments.html::navigation"></footer>
	<footer th:replace="fragments.html::footer"></footer>

	<script src="/js/lib/fontawesome.all.js"></script>
	<script src="/js/lib/jquery.min.js"></script>
	<script src="/js/donate.js"></script>
</body>
</html>