<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}" dir="auto">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="Alovoa">
	<meta name="theme-color" content="#121212" media="(prefers-color-scheme: dark)">
	<link rel="manifest" href="/manifest/manifest.json">

	<link rel="stylesheet" href="/css/lib/bulma.min.css" />
	<link rel="stylesheet" href="/css/alovoa.css" />
	<title th:text="#{faq.title}"></title>
</head>

<body>
	<div id="main">

		<header th:insert="~{fragments.html::header}"></header>
		<div class="section">
			<div class="box" id="privacy">
				<p class="title is-4" th:text="#{faq.privacy.question}"></p>
				<p class="subtitle is-6 is-marginless" th:text="#{faq.privacy.answer}"></p>
			</div>
			<div class="box" id="encryption">
				<p class="title is-4" th:text="#{faq.encryption.question}"></p>
				<p class="subtitle is-6 is-marginless" th:text="#{faq.encryption.answer}"></p>
			</div>
			<div class="box" id="open-source">
				<p class="title is-4" th:text="#{faq.open-source.question}"></p>
				<p class="subtitle is-6 is-marginless" th:text="#{faq.open-source.answer}"></p>
			</div>
			<div class="box" id="match">
				<p class="title is-4" th:text="#{faq.match.question}"></p>
				<p class="subtitle is-6 is-marginless" th:text="#{faq.match.answer}"></p>
			</div>
			<div class="box" id="no-users">
				<p class="title is-4" th:text="#{faq.no-users.question}"></p>
				<p class="subtitle is-6 is-marginless" th:text="#{faq.no-users.answer}"></p>
			</div>
			<div class="box" id="delete-data">
				<p class="title is-4" th:text="#{faq.delete-data.question}"></p>
				<p class="subtitle is-6 is-marginless" th:text="#{faq.delete-data.answer}"></p>
			</div>
		</div>
	</div>
	<footer th:replace="~{fragments.html::footer}"></footer>

	<script src="/sw.js"></script>
	<script src="/js/lib/jquery.min.js"></script>
	<script src="/js/lib/fontawesome.all.js"></script>
	<script src="/js/lib/modal-fx.min.js"></script>
	<script src="/js/tools/modal.js"></script>
	<script src="/js/alovoa.js"></script>
</body>

</html>