<!DOCTYPE html>
<html>
<body>
	<div th:fragment="header">
		<nav class="navbar is-info">
			<div class="navbar-brand">
				<a class="navbar-item" href="/"> <img src="img/icon.png"
					width="28" height="28">
				</a> <a class="navbar-item" href="/" id="navbar-text">Alovoa </a>
			</div>

			<div style="width: 100%; display: flex;">
				<div class="navbar-end">
					<span class="navbar-item" id="navbar-item-register"> <a
						class="button is-white is-outlined" href="/register"> <span>Sign
								up</span>
					</a>
					</span> <span class="navbar-item"> <a
						class="button is-white is-outlined" href="/login"> <span>Login</span>
					</a>
					</span>
				</div>
			</div>
		</nav>
	</div>

	<div th:fragment="header-logged-in">
		<nav class="navbar is-info">
			<div class="navbar-brand">
				<a class="navbar-item"> <img src="/img/icon.png" width="28"
					height="28">
				</a> <a class="navbar-item">Alovoa </a>
			</div>

			<div style="width: 100%; display: flex;">
				<div class="navbar-end">
					<form th:action="@{/logout}" method="post">
						<span class="navbar-item">
							<button class="button is-white is-outlined" href="/logout">
								<span>Logout</span>
							</button>
						</span>
					</form>
				</div>
			</div>
		</nav>
	</div>

	<footer class="footer" th:fragment="footer">
		<div class="container">
			<div class="columns">
				<div class="column">
					<ul>
						<li class="has-text-centered"><a href="/privacy">Privacy
								Policy</a></li>
					</ul>
				</div>
				<div class="column">
					<ul>
						<li class="has-text-centered"><a href="/terms-conditions">Terms
								and conditions</a></li>
					</ul>
				</div>
				<div class="column">
					<ul>
						<li class="has-text-centered"><a href="/impressum">Impressum</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

	<div th:fragment="navigation">
		<nav class="navbar is-link is-fixed-bottom" role="navigation"
			style="display: block;">
			<div class="navbar-brand">
				<a class="navbar-item is-expanded navigation-item" href="/search">
					<div>
						<i class="fa fa-search"></i><span>Search</span>
					</div>
				</a> <a class="navbar-item is-expanded navigation-item" href="/donate">
					<div>
						<i class="fa fa-coins"></i><span>Donate</span>
					</div>
				</a> <a class="navbar-item is-expanded navigation-item" href="/alerts">
					<div>
						<i class="fa fa-bell"></i> <span>Alerts</span>
					</div>
				</a> <a class="navbar-item is-expanded navigation-item" href="/chats">
					<div>
						<i class="fa fa-comments"></i> <span>Chats</span>
					</div>
				</a> <a class="navbar-item is-expanded navigation-item" href="/profile">
					<div>
						<i class="fa fa-user"></i> <span>Profile</span>
					</div>
				</a>
			</div>
		</nav>
	</div>

	<div th:fragment="search-users">
		<div class="card is-horizontal" th:each="user : ${users}">
			<div class="card-image">
				<figure class="image">
					<img th:src="${user.profilePicture}">
				</figure>
			</div>
			<div class="card-content">
				<div class="content">
					<div class="media">
						<div class="full-width">
							<div class="left" style="font-size: 2em"
								th:text="${user.firstName}"></div>
							<div class="right" style="font-size: 1.5em">
								<span>Age: </span><span th:text="${user.age}"></span>
							</div>
						</div>
					</div>
					<div class="media">
						<div class="full-width">
							<div class="left" style="font-size: 1.2em">
								<span>Last active: </span><span
									th:text="${#dates.format(user.activeDate, 'yyyy-MM-dd')}"></span>
							</div>
							<div class="right" style="font-size: 1.2em">
								<span th:text="${user.distanceToUser}"></span><span>
									meters from you</span>
							</div>
						</div>
					</div>

					<div style="font-size: 1.1em" th:text="${user.description}"></div>
				</div>
				<div class="profile-bottom full-width"
					style="display: inline-block;">
					<button class="button left is-info is-inverted"
						th:onclick="viewProfile([[${user.idEncoded}]])">View
						profile</button>
					<div class="right">
						<button class="button is-rounded is-danger"
							th:onclick="hideUser(this, [[${user.idEncoded}]])">
							<i class="fa fa-thumbs-down"></i>
						</button>
						<button class="button is-rounded is-success"
							th:onclick="likeUser(this, [[${user.idEncoded}]])">
							<i class="fa fa-thumbs-up"></i>
						</button>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div th:fragment="message-detail">
		<div th:each="message : ${messages}" style="display: inline-block; width: 100%;">
			<div th:if="${message.from}" class="message right"
				th:text="${message.content}"></div>
			<div th:unless="${message.from}" class="message left"
				th:text="${message.content}"></div>
		</div>
	</div>

</body>
</html>
