<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="Alovoa">
	<meta name="theme-color" content="#121212" media="(prefers-color-scheme: dark)">
	<link rel="manifest" href="/manifest/manifest.json">
	
	<link rel="stylesheet" href="/css/lib/bulma.min.css" />
	<th:block th:replace="fragments.html::bulma"></th:block>
	<th:block th:replace="fragments.html::ui-design"></th:block>
	<link rel="stylesheet" href="/css/alovoa.css" />
	<title th:text="#{imprint.title}"></title>
</head>
<body>
	<div id="main">

		<header th:insert="fragments.html::header-logged-out"></header>
		<div class="section">
			<div class="box">
				<p th:text="${companyName}"></p>
				<p>Nho Quy Dinh</p>
				<p>Neulanderweg 18, 21423 Winsen Luhe</p>
				<p>Tel: 015678593504</p>
				<p>contact@alovoa.com</p>
			</div>
			<div class="box">
				<p th:text="#{contact}" style="margin-bottom: 16px;"></p>
				<form id="imprint-form" th:action="@{/imprint/contact}"
					method="POST">
					<div class="field">
						<input class="input" type="email" th:placeholder="#{email}"
							name="email" required>
					</div>
					<div class="field">
						<textarea class="textarea" name="message"
							th:placeholder="#{message}" required></textarea>
					</div>
					<div style="padding-top: 12px;"></div>
					<div th:replace="fragments.html::captcha"></div>
					<button class="button colored is-primary" th:text="#{submit}"></button>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="fragments.html::footer"></footer>

	<script src="/sw.js"></script>
	<script src="/js/lib/jquery.min.js"></script>
	<script src="/js/lib/fontawesome.all.js"></script>
	<script src="/js/lib/modal-fx.min.js"></script>
	<script src="/js/tools/refresh-captcha.js"></script>
	<script src="/js/tools/get-text.js"></script>
	<script src="/js/alovoa.js"></script>
	<script src="/js/imprint.js"></script>
</body>
</html>