<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}" dir="auto">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="Alovoa">
	<meta name="theme-color" content="#121212" media="(prefers-color-scheme: dark)">
	<link rel="manifest" href="/manifest/manifest.json">
	<title>Info</title>
</head>

<body>
	<pre th:text="${info}"></pre>
</body>

</html>