<!DOCTYPE html>
<html th:lang="${lang}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="Alovoa">
<link rel="manifest" href="/json/manifest.json">

<link rel="stylesheet" href="/css/lib/bulma.min.css" />
<link rel="stylesheet" href="/css/alovoa.css" />
<title th:text="#{login.title}"></title>
</head>
<body>
	<div id="main">
		<header th:insert="fragments.html::header"></header>
		<div class="section">

			<div class="container">
				<div>
					<h3 class="title" th:text="#{login.title}"></h3>
					<p class="subtitle" th:text="#{login.subtitle}"></p>

					<div class="box">
						<form th:action="@{/login}" method="POST">
							<div class="field">
								<div class="control">
									<input class="input" type="email" th:placeholder="#{email}"
										autofocus="" name="username">
								</div>
							</div>

							<div class="field">
								<div class="control">
									<input class="input" type="password"
										th:placeholder="#{password}" name="password">
								</div>
							</div>
							<div th:replace="fragments.html::captcha"></div>
							<!-- TODO: Causes exception 
							<div class="field">
								<label class="checkbox"> <input type="checkbox"
									name="remember-me"> Remember me
								</label>
							</div>
							-->
							<button class="button" th:text="#{submit}"></button>
						</form>
					</div>

					<p>
						<a href="/password/reset" th:text="#{login.forgot-password}"></a>
					</p>
					<p>
						<a href="/register" th:text="#{login.register}"></a>
					</p>

					<div class="container" style="margin-top: 48px;" id="oauth-div">
						<div class="box">
							<div class="columns">
								<button class="button colored"
									style="background-color: #4285F4; width: 100%; margin-right: 4px;margin-bottom: 4px;"
									onclick="window.location='/oauth2/authorization/google'">
									<img src="/img/google-icon.svg" style="height: 32px;"><span
										style="padding-left: 12px; color: white;"
										th:text="#{login.oauth.google}"></span>
								</button>
								<button class="button colored"
									style="background-color: #4267b2; width: 100%;"
									onclick="window.location='/oauth2/authorization/facebook'">
									<img src="/img/facebook-icon.svg" style="height: 32px;"><span
										style="padding-left: 12px; color: white;"
										th:text="#{login.oauth.facebook}"></span>
								</button>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>


	</div>
	<footer th:replace="fragments.html::footer"></footer>

	<script src="/js/lib/jquery.min.js"></script>
	<script src="/js/lib/fontawesome.all.js"></script>
	<script src="/js/tools/refreshCaptcha.js"></script>
	<script src="/js/tools/getText.js"></script>
	<script src="/js/login.js"></script>
</body>
</html>