<!DOCTYPE html>
<html th:lang="${lang}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="Alovoa">
<link rel="manifest" href="/json/manifest.json">

<link rel="stylesheet" href="/css/lib/bulma.min.css" />
<link rel="stylesheet" href="/css/alovoa.css" />
<title th:text="#{login.title}"></title>
</head>
<body>
	<div id="main">
		<header th:insert="fragments.html::header"></header>
		<div class="section">
			<div class="container">
				<div class="column">
					<h3 class="title" th:text="#{login.title}"></h3>
					<p class="subtitle" th:text="#{login.subtitle}"></p>
					<div class="box">
						<form th:action="@{/login}" method="POST">
							<div class="field">
								<div class="control">
									<input class="input" type="email" th:placeholder="#{email}"
										autofocus="" name="username">
								</div>
							</div>

							<div class="field">
								<div class="control">
									<input class="input" type="password"
										th:placeholder="#{password}" name="password">
								</div>
							</div>
							<div class="field">
								<input id="captcha-id" name="captchaId" type="hidden">

								<div class="field">
									<img id="captcha-image">
									<button type="button" class="button" onclick="refreshCaptcha()"
										style="height: 70px; width: 70px; font-size: 1.7rem; margin-left: 12px;">
										<i class="fa fa-sync"></i>
									</button>
								</div>
								<div class="field">
									<input class="input" id="captcha" name="captchaText"
										th:placeholder="#{captcha}" autocomplete="off" required>
								</div>
							</div>
							<!-- TODO: Causes exception 
							<div class="field">
								<label class="checkbox"> <input type="checkbox"
									name="remember-me"> Remember me
								</label>
							</div>
							-->
							<button class="button" th:text="#{submit}"></button>
						</form>
					</div>

					<p>
						<a href="/password/reset" th:text="#{login.forgot-password}"></a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="fragments.html::footer"></footer>

	<script src="/js/lib/jquery.min.js"></script>
	<script src="/js/lib/fontawesome.all.js"></script>
	<script src="/js/tools/refreshCaptcha.js"></script>
	<script src="/js/tools/getText.js"></script>
	<script src="/js/login.js"></script>
</body>
</html>