<!DOCTYPE html>
<html th:lang="${lang}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="Alovoa">
<link rel="manifest" href="/json/manifest.json">

<link rel="stylesheet" href="/css/lib/bulma.min.css" />
<link rel="stylesheet" href="/css/lib/bulma-slider.min.css" />
<link rel="stylesheet" href="/css/alovoa.css" />
<link rel="stylesheet" href="/css/messageDetail.css" />
<link th:if="${user.theme == 1}" rel="stylesheet" href="/css/alovoa-dark.css" />
<title th:text="#{message.title}"></title>
</head>
<body>
	<div id="main-logged-in">
		<header th:insert="fragments.html::header-logged-in"></header>
		<input type="hidden" id="convo-id" th:value="${convoId}">
		<section class="container" id="main-container">
			<div class="section">
				<div class="container" id="top" style="display:flex;">			
					<div class="left" style="padding-right: 12px;"><img class="profile-pic left" th:src="${partner.profilePicture}"></div>
					<div class="left" th:text="${partner.firstName}" id="first-name" style="word-break:break-all;  overflow: hidden; max-height: 45px; flex-grow: 1;"></div>
					<div class="right button colored is-info" style="height: 40px; width: 40px;;" onclick="startVideoChat()"><i class="fa fa-video"></i></div>
				</div>
			</div>
			<div class="section">
				<div class="container" style="width: 100%;" id="messages-div"></div>
			</div>
			<div class="section">
				<div class="container" style="width: 100%;" id="message-send-div">
					<input class="input is-medium is-rounded" type="text"
						id="message-send-input" placeholder="...">
					<div id="message-send-padding"></div>
					<button class="button colored is-info is-medium is-rounded"
						id="message-send-button" onclick="sendMessage()">
						<i class="fa fa-paper-plane"></i>
					</button>
				</div>
			</div>
		</section>
	</div>

	<footer th:replace="fragments.html::navigation"></footer>
	<footer th:replace="fragments.html::footer"></footer>

	<script src="/js/lib/fontawesome.all.js"></script>
	<script src="/js/lib/jquery.min.js"></script>
	<script src="/js/tools/getNotification.js"></script>
	<script src="/js/tools/getText.js"></script>
	<script src="/js/messageDetail.js"></script>
</body>
</html>