<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="Alovoa">
	<link rel="manifest" href="/manifest/manifest.json">

	<link rel="stylesheet" href="/css/lib/bulma.min.css" />
	<th:block th:replace="fragments.html::bulma"></th:block>
	<th:block th:replace="fragments.html::ui-design"></th:block>
	<link rel="stylesheet" href="/css/lib/bulma-slider.min.css" />
	<link rel="stylesheet" href="/css/lib/css-loaders.css" />
	<link rel="stylesheet" href="/css/lib/modal-fx.min.css" />
	<link rel="stylesheet" href="/css/lib/swiper.min.css" />
	<link rel="stylesheet" href="/css/user-profile.css" />
	<link rel="stylesheet" href="/css/alovoa.css" />
	<link rel="stylesheet" href="/css/notification.css" />
	<title th:text="#{message.title}"></title>
</head>

<body>
	<div id="main-logged-in">
		<header th:insert="fragments.html::header-logged-in"></header>
		<section class="container" id="main-container">
			<div class="section">
				<div class="container" style="width: 100%;">
					<div class="card is-horizontal messages-card" th:each="convo : ${conversations}"
						th:onclick="viewMessageDetail(this, [[${convo.id}]])">
						<div class="card-image">
							<figure class="image" style="max-width: 200px; max-height: 200px; margin: 0">
								<img th:src="${convo.userProfilePicture}" class="profile-pic"
									th:value="${convo.userIdEncoded}">
							</figure>
						</div>
						<div class="card-content" style="display: flex; justify-items: center; align-items: center;">
							<div class="full-width profile-bottom">
								<div class="messages-name" th:text="${convo.userName}"></div>
								
								<span style="overflow-wrap: normal; background-color: initial;" class="message-preview"
									th:if="${convo.lastMessage != null}">
									
									<th:block th:unless="${convo.lastMessage.allowedFormatting}" 
									th:text="${#strings.abbreviate(convo.lastMessage.content,60)}" ></th:block>
									
									<th:block th:if="${convo.lastMessage.allowedFormatting}" 
									th:text="#{message.video-chat}" ></th:block>
									
								</span>
							
								<span style="overflow-wrap: normal;" class="message-preview"
									th:unless="${convo.lastMessage != null}" th:text="#{message.match}"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div class="loader-parent">
		<div class="loader"></div>
	</div>
	
	<div id="user-profile-container"></div>

	<footer th:replace="fragments.html::navigation"></footer>

	<script src="/sw.js"></script>
	<script src="/js/lib/fontawesome.all.js"></script>
	<script src="/js/lib/jquery.min.js"></script>
	<script src="/js/lib/modal-fx.min.js"></script>
	<script src="/js/lib/swiper.min.js"></script>
	<script src="/js/tools/get-notification.js"></script>
	<script src="/js/tools/get-text.js"></script>
	<script src="/js/tools/loader.js"></script>
	<script src="/js/tools/modal.js"></script>
	<script src="/js/alovoa.js"></script>
	<script src="/js/message.js"></script>
	<script src="/js/user-profile-modal.js"></script>
</body>

</html>