<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="Alovoa">
<link rel="manifest" href="/json/manifest.json">

<link rel="stylesheet" href="/css/lib/bulma.min.css" />
<link rel="stylesheet" href="/css/lib/bulma-slider.min.css" />
<link rel="stylesheet" href="/css/alovoa.css" />
<link rel="stylesheet" href="/css/notification.css" />
<title>Notification</title>
</head>
<body>
	<div id="main-logged-in">
		<header th:insert="fragments.html::header-logged-in"></header>
		<section class="container" id="main-container">
			<div class="section">
				<div class="container" style="width: 100%;">
					<div class="card is-horizontal"
						th:each="notification : ${notifications}" style="width: 100%;"
						th:onclick="viewProfile([[${notification.userFromDto.idEncoded}]])">
						<div class="card-image">
							<figure class="image">
								<img th:src="${notification.userFromDto.profilePicture}">
							</figure>
						</div>
						<div class="card-content">
							<div class="profile-bottom full-width"
								style="display: inline-block;">
								<span>You have been liked by </span><span
									th:text="${notification.userFromDto.firstName}"></span>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
	</div>

	<footer th:replace="fragments.html::navigation"></footer>
	<footer th:replace="fragments.html::footer"></footer>

	<script src="/js/lib/fontawesome.all.js"></script>
	<script src="/js/lib/jquery.min.js"></script>
	<script src="/js/tools/getNotification.js"></script>
	<script src="/js/search.js"></script>
</body>
</html>