<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="Alovoa">
	<link rel="manifest" href="/manifest/manifest.json">

	<link rel="stylesheet" href="/css/lib/bulma.min.css" />
	<th:block th:replace="fragments.html::bulma"></th:block>
	<th:block th:replace="fragments.html::ui-design"></th:block>
	<link rel="stylesheet" href="/css/lib/bulma-slider.min.css" />
	<link rel="stylesheet" href="/css/lib/css-loaders.css" />
	<link rel="stylesheet" href="/css/lib/modal-fx.min.css" />
	<link rel="stylesheet" href="/css/alovoa.css" />
	<link rel="stylesheet" href="/css/user-profile.css" />
	<link rel="stylesheet" href="/css/notification.css" />
	<title th:text="#{notification.title}"></title>
</head>

<body>
	<div id="main-logged-in">
		<header th:insert="fragments.html::header-logged-in"></header>
		<section class="container" id="main-container">
			<div class="section">
				<div class="container" style="width: 100%;">
					<div class="card is-horizontal notification-card" th:each="notification : ${notifications}">
						<div style="width: 100%; display: flex; line-height: initial; align-items: center;">
							<div class="card-image" style="margin-right: 4px;" th:onclick="viewProfile([[${notification.userFromDto.idEncoded}]])">
								<figure class="image">
									<img th:src="${notification.userFromDto.profilePicture}" class="profile-pic"
										style="margin: 0;">
								</figure>
							</div>
							<div class="notification-div full-width" th:onclick="viewProfile([[${notification.userFromDto.idEncoded}]])">
									<span th:text="#{notification.liked-by} + ${notification.userFromDto.firstName}"></span>
							</div>
							<div class="notification-like" th:if="${!notification.userFromDto.likedByCurrentUser and !notification.userFromDto.hiddenByCurrentUser}" 
									style="margin-left: 4px; display: flex; height: 100%; align-items: center; justify-content: center;"> 
								<button class="button is-success is-outlined" style="height: 50px;"
										th:onclick="likeUser(this, [[${notification.userFromDto.idEncoded}]])">
										<i class="fa fa-thumbs-up"></i>
									</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div class="loader-parent">
		<div class="loader"></div>
	</div>
	
	<form></form>
	<div id="user-profile-container"></div>

	<footer th:replace="fragments.html::navigation"></footer>

	<script src="/sw.js"></script>
	<script src="/js/lib/fontawesome.all.js"></script>
	<script src="/js/lib/jquery.min.js"></script>
	<script src="/js/tools/get-notification.js"></script>
	<script src="/js/tools/get-text.js"></script>
	<script src="/js/tools/loader.js"></script>
	<script src="/js/tools/modal.js"></script>
	<script src="/js/alovoa.js"></script>
	<script src="/js/user-profile-modal.js"></script>
</body>

</html>