<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}" dir="auto" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Alovoa">
    <meta name="theme-color" content="#121212" media="(prefers-color-scheme: dark)">
    <link rel="manifest" href="/manifest/manifest.json">

    <link rel="stylesheet" href="/css/lib/bulma.min.css" />
    <link rel="stylesheet" href="/css/lib/animate.min.css" />
    <link rel="stylesheet" href="/css/alovoa.css" />
    <title th:text="#{password-change.title}"></title>
</head>
<body>
<div id="main">
    <header th:insert="~{fragments.html::header}"></header>
    <div class="section">
        <div class="container">
            <div class="column">
                <h3 class="title" th:text="#{password-change.title}"></h3>
                <form th:action="@{/password/change}" method="POST" id="form">
                    <div class="box">
                        <input id="token" type="hidden" th:value="${tokenString}">
                        <div class="field">
                            <div class="control">
                                <label class="label" th:text="#{email}"></label>
                                <input class="input" type="email" id="email" autofocus="" required>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <label class="label" th:text="#{new-password}"></label>
                                <input class="input" type="password" id="password" required>
                            </div>
                            <div id="password-info" th:text="#{password-change.warning}" style="font-size:0.8em; color: red;"></div>
                        </div>
                    </div>
                    <button class="button" th:text="#{submit}"></button>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{fragments.html::footer}"></footer>

<script src="/sw.js"></script>
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/fontawesome.all.js"></script>
<script src="/js/lib/modal-fx.min.js"></script>
<script src="/js/lib/bulma-toast.min.js"></script>
<script src="/js/tools/check-password.js"></script>
<script src="/js/tools/get-text.js"></script>
<script src="/js/tools/modal.js"></script>
<script src="/js/alovoa.js"></script>
<script src="/js/password-change.js"></script>
</body>
</html>