<!DOCTYPE html>
<html th:lang="${lang}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="Alovoa">
<link rel="manifest" href="/manifest/manifest.json">

<link rel="stylesheet" href="/css/lib/bulma.min.css" />
<link rel="stylesheet" href="/css/lib/bulma-switch.min.css" />
<link rel="stylesheet" href="/css/lib/bulma-slider.min.css" />
<link rel="stylesheet" href="/css/lib/swiper.min.css" />
<link rel="stylesheet" href="/css/alovoa.css" />
<link rel="stylesheet" href="/css/profile.css" />
<title th:text="#{profile.title}"></title>
</head>
<body>
	<div id="main-logged-in">
		<header th:insert="fragments.html::header-logged-in"></header>
		<div class="section">
			<div class="container">
				<div class="field">
					<div id="profile-warning"></div>
				</div>

				<div class="field">
					<button class="button is-info colored" id="btnPushNotifications"
						name="btnPushNotifications" style="width: 100%;"
						th:text="#{profile.webpush}"></button>
				</div>

				<div class="field">

					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="center-parent">
									<img id="profilePicture" class="profile-pic" height=300
										width=300 src="/img/profile.jpg" style="cursor: pointer;"
										th:unless="${user.profilePicture}" th:value=0 /> <img
										id="profilePicture" style="cursor: pointer;"
										th:if="${user.profilePicture}" class="profile-pic " height=300
										width=300 th:src="${user.profilePicture}" th:value=1 /> <input
										id="profilePictureUpload" type="file" accept="image/*"
										style="display: none">
								</div>
							</div>
							<div th:each="img : ${user.images}" class="swiper-slide">
								<div class="center-parent">
									<img style="cursor: pointer;" class="profile-pic" height=300
										width=300 th:src="${img.content}"
										th:onclick="deleteImage([[${img.id}]])" />
								</div>
							</div>
							<div class="swiper-slide center-parent" style="height: 100%;">
								<div th:if="${#lists.size(user.images) != imageMax}"
									id="addImageDiv" class="center-parent button"
									style="min-width: 174px; min-height: 200px;">
									<i class="fa fa-plus fa-4x"></i>
								</div>
							</div>
							<input id="addImageInput" type="file" accept="image/*"
								style="display: none">

						</div>
						<!-- Add Arrows -->
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
					</div>

				</div>


				<div class="box">
					<div class="field">
						<label class="label" th:text="#{description}"></label>
						<textarea class="textarea" id="description"
							th:text="${user.description}"></textarea>
					</div>

					<div class="field">
						<label class="label" th:text="#{profile.intention}"></label>
						<div class="select">
							<select id="intention">
								<option th:unless="${user.intention}"></option>
								<th:block th:each="intention : ${intentions}">
									<option th:value="${intention.id}"
										th:selected="${user.intention != null && user.intention.id == intention.id}"
										th:if="${intention.text == 'meet'}"
										th:text="#{profile.intention.meet}"></option>
									<option th:value="${intention.id}"
										th:selected="${user.intention != null && user.intention.id == intention.id}"
										th:if="${intention.text == 'date'}"
										th:text="#{profile.intention.date}"></option>
									<option th:value="${intention.id}"
										th:selected="${user.intention != null && user.intention.id == intention.id}"
										th:if="${intention.text == 'sex'}"
										th:text="#{profile.intention.sex}"></option>
								</th:block>
							</select>
						</div>
					</div>

					<div class="field">
						<div class="columns">
							<div class="column">
								<label class="label" th:text="#{profile.min-age}"></label>
								<div class="slider-container">
									<input class="slider is-info" step="1" min="16" max="100"
										th:value="${user.preferedMinAge}" type="range"
										id="min-age-slider">
									<p id="min-age-display" th:text="${user.preferedMinAge}"></p>
								</div>
							</div>
							<div class="column">
								<label class="label" th:text="#{profile.max-age}"></label>
								<div class="slider-container">
									<input class="slider is-info" step="1" min="16" max="100"
										th:value="${user.preferedMaxAge}" type="range"
										id="max-age-slider">
									<p id="max-age-display" th:text="${user.preferedMaxAge}"></p>
								</div>
							</div>
						</div>
					</div>


					<div class="field">
						<label class="label" th:text="#{profile.gender}"></label>
						<th:block th:each="gender : ${genders}">
							<div class="field">
								<input th:id="${'gender-' + gender.id}" type="checkbox"
									class="switch gender-switch" th:value="${gender.id}"
									style="position: absolute"
									th:checked="${user.preferedGenders != null && not user.preferedGenders.?[id == __${gender.id}__].isEmpty()}">
								<label th:for="${'gender-' + gender.id}"
									th:if="${gender.text == 'male'}"
									th:text="#{profile.gender.male}"></label> <label
									th:for="${'gender-' + gender.id}"
									th:if="${gender.text == 'female'}"
									th:text="#{profile.gender.female}"></label> <label
									th:for="${'gender-' + gender.id}"
									th:if="${gender.text == 'other'}"
									th:text="#{profile.gender.other}"></label>
							</div>
						</th:block>
					</div>
				</div>

				<!-- User audio -->

				<div class="box">

					<label class="label" th:text="#{profile.audio}"></label>
					<div class="field" style="display: inline-block;">

						<div style="display: flex; float: left; margin-bottom: 4px;">
							<audio id="audio" th:src="${user.audio}" th:if="${user.audio}"
								controls></audio>
							<div style="padding-left: 4px;" th:if="${user.audio}"></div>
						</div>
						<div style="display: flex; float: left;">

							<div class="colored button is-info" id="audio-upload-button">
								<i class="fa fa-microphone"></i>
							</div>
							<input type="file" accept="audio/*" id="audio-file"
								style="display: none">
							<div style="padding-left: 4px;" th:if="${user.audio}"></div>
							<div class="colored button is-danger" onclick="deleteAudio()"
								th:if="${user.audio}">
								<i class="fa fa-trash"></i>
							</div>
						</div>
					</div>
					<div class="notification is-info" th:text="#{profile.audio.info}"
						style="margin-top: -6px;" th:unless="${user.audio}"></div>
				</div>

				<div class="box">
					<div class="field" th:fragment="interests">
						<label class="label" th:text="#{interests}"></label>
						<th:block th:each="interest : ${user.interests}">
							<div style="padding: 4px; display: inline-block;">
								<div class="field" th:text="${interest.text}"
									style="float: left; font-size: 1.1em;"></div>
								<i class="fa fa-times"
									style="float: left; margin-top: 4px; margin-left: 4px; font-size: 1.2em; cursor: pointer;"
									th:onclick="deleteInterest([[${interest.id}]])"></i>
							</div>
						</th:block>
					</div>

					<div class="field">
						<form id="interest-form" th:action="@{/}" method="POST">
							<div style="display: flex">
								<input class="input" pattern="[a-zA-Z0-9-]{3,30}" name="value"
									style="flex: 1" th:placeholder="#{interest}" required>
								<div style="padding-top: 4px;"></div>
								<button class="button is-info colored" style="margin-left: 4px;">
									<i class="fa fa-plus" style="color: white;"></i>
								</button>
							</div>
						</form>
					</div>
					<div class="notification is-info"
						th:text="#{profile.interest.info}"></div>
				</div>

				<div style="padding-top: 32px;"></div>

				<div class="box">
					<div class="field">
						<label class="label" th:text="#{profile.userdata.request}"></label>
						<div class="field" style="display: flex">
							<button class="button is-info is-outlined" id="userdata-submit" th:text="#{submit}"
								style="margin-left: 4px;"></button>
						</div>
					</div>
				</div>

				<div class="box">
					<div class="field">
						<label class="label" th:text="#{profile.account.delete}"></label>
						<div class="field" style="display: flex">
							<button class="button is-info is-outlined" id="delete-acc-submit" th:text="#{submit}"
								style="margin-left: 4px;"></button>
						</div>
					</div>
				</div>

				<div class="box">
					<div class="field">
						<form th:action="@{/logout}" method="post">
							<span class="navbar-item">
								<button class="button is-info is-outlined" href="/logout" style="width: 100%;"
									id="logout">
									<span th:text="#{logout}"></span>
								</button>
							</span>
						</form>
					</div>
				</div>

			</div>
		</div>
	</div>

	<footer th:replace="fragments.html::navigation"></footer>
	<footer th:replace="fragments.html::footer"></footer>

	<script>
		/*<![CDATA[*/
		var applicationServerPublicKey = /*[[${vapidPublicKey}]]*/'default';
		/*]]>*/
	</script>

	<script src="/js/lib/fontawesome.all.js"></script>
	<script src="/js/lib/jquery.min.js"></script>
	<script src="/js/lib/notification.js"></script>
	<script src="/js/lib/swiper.min.js"></script>
	<script src="/js/tools/getNotification.js"></script>
	<script src="/js/tools/getText.js"></script>
	<script src="/js/profile.js"></script>
</body>
</html>