<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="Alovoa">
	<meta name="theme-color" content="#121212" media="(prefers-color-scheme: dark)">
	<link rel="manifest" href="/manifest/manifest.json">

	<link rel="stylesheet" href="/css/lib/bulma.min.css" />
	<th:block th:replace="fragments.html::bulma"></th:block>
	<th:block th:replace="fragments.html::ui-design"></th:block>
	<link rel="stylesheet" href="/css/lib/bulma-switch.min.css" />
	<link rel="stylesheet" href="/css/lib/bulma-slider.min.css" />
	<link rel="stylesheet" href="/css/lib/bulma-collapsible.min.css" />
	<link rel="stylesheet" href="/css/lib/swiper.min.css" />
	<link rel="stylesheet" href="/css/lib/css-loaders.css" />
	<link rel="stylesheet" href="/css/lib/modal-fx.min.css" />
	<link rel="stylesheet" href="/css/alovoa.css" />
	<link rel="stylesheet" href="/css/profile-onboarding.css" />
	<title th:text="#{profile.title}"></title>

</head>

<body>

<header th:insert="fragments.html::header-logged-in"></header>
	<form th:action="@{/}" method="POST"></form>
	<div class="swiper onboarding-swiper" id="main">
		<div class="swiper-wrapper">
			<div class="swiper-slide center-parent">
				<div class="center-parent">
					<label class="label" th:text="#{profile-onboarding.profile-picture}"></label>
					<div class="center-parent button profile-pic" id="profilePicture"
						style="min-width: 174px; height: 200px; border-radius: 12px;" th:value=0>
						<i class="fa fa-plus fa-4x"></i>
					</div>
					<input id="profilePictureUpload" type="file" accept="image/*" style="display: none">
				</div>
			</div>
			<div class="swiper-slide center-parent">
				<div class="center-parent">
					<label class="label" th:text="#{description}"></label>
					<textarea class="textarea" id="description"></textarea>
				</div>
			</div>
			<div class="swiper-slide center-parent">
				<div class="center-parent">
					<label class="label" th:text="#{profile.intention}"></label>
					<div class="control radio-parent">
						<th:block th:each="intention : ${intentions}">
							<label th:value="${intention.id}"
								th:if="${intention.text == 'meet'}"><input type="radio" name="answer" th:text="#{profile.intention.meet}"></label>
							<label th:value="${intention.id}"
								th:if="${intention.text == 'date'}"><input type="radio" name="answer" th:text="#{profile.intention.date}"></label>
							<label th:value="${intention.id}"
								th:if="${intention.text == 'sex' &&  isLegal}"><input type="radio" name="answer" th:text="#{profile.intention.sex}">
							</label>
						</th:block>
					</div>
				</div>
			</div>
			<div class="swiper-slide center-parent">
				<div class="center-parent">
					<label class="label" th:text="#{profile.gender}"></label>
					<div class="switch-parent">
						<th:block th:each="gender : ${genders}">
							<input th:id="${'gender-' + gender.id}" type="checkbox" class="switch gender-switch"
								th:value="${gender.id}" style="position: absolute">
							<label th:for="${'gender-' + gender.id}" th:if="${gender.text == 'male'}"
								th:text="#{profile.gender.male}"></label> <label th:for="${'gender-' + gender.id}"
								th:if="${gender.text == 'female'}" th:text="#{profile.gender.female}"></label> <label
								th:for="${'gender-' + gender.id}" th:if="${gender.text == 'other'}"
								th:text="#{profile.gender.other}"></label>
						</th:block>
					</div>
				</div>
			</div>
			<div class="swiper-slide center-parent">
				<div class="center-parent">
					<label class="label" th:text="#{interests}"></label>
					<div style="display: flex">
						<input class="input" pattern="[a-zA-Z0-9-]{3,30}" name="value"
							style="flex: 1; height: 32px;" th:placeholder="#{interest}" required>
						<div style="padding-top: 4px;"></div>
						<div class="button is-info is-outlined" style="margin-left: 4px; height: 32px;">
							<i class="fa fa-plus"></i>
						</div>
					</div>

				<div id="submit" class="button is-primary" th:text="#{submit}"></div>
				</div>
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>

	<script src="/sw.js"></script>
	<script src="/js/lib/fontawesome.all.js"></script>
	<script src="/js/lib/jquery.min.js"></script>
	<script src="/js/lib/bulma-slider.min.js"></script>
	<script src="/js/lib/bulma-toast.min.js"></script>
	<script src="/js/lib/swiper.min.js"></script>
	<script src="/js/lib/notification.js"></script>
	<script src="/js/tools/get-notification.js"></script>
	<script src="/js/tools/get-text.js"></script>
	<script src="/js/tools/loader.js"></script>
	<script src="/js/alovoa.js"></script>
	<script src="/js/profile-onboarding.js"></script>
</body>

</html>