<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="Alovoa">
<link rel="manifest" href="/json/manifest.json">
<link rel="stylesheet" href="/css/lib/bulma.min.css" />
<link rel="stylesheet" href="/css/lib/bulma-switch.min.css" />
<link rel="stylesheet" href="/css/lib/bulma-calendar.min.css" />
<link rel="stylesheet" href="/css/alovoa.css" />
<title th:text="#{register.title}"></title>
</head>
<body>
	<div id="main">
		<header th:replace="fragments.html::header"></header>
		<div class="section">
			<div class="container">
				<div class="column">
					<form th:action="@{/register}" method="POST" id="register-form">
						<div class="field">
							<label class="label" th:text="#{first-name}"><span
								class="asterisk">*</span></label>
							<div class="control">
								<input class="input" type="text" name="firstName" required>
							</div>
						</div>
						<div class="field">
							<label class="label" th:text="#{email}"><span
								class="asterisk">*</span></label>
							<div class="control">
								<input class="input" type="email" name="email" required>
							</div>
						</div>
						<div class="field">
							<label class="label" th:text="#{dob}"><span
								class="asterisk">*</span></label>
							<div class="control">
								<input type="date" name="dateOfBirth" required>
							</div>
						</div>

						<div class="field">
							<label class="label" th:text="#{password}"></label>
							<div class="control">
								<input class="input" type="password" name="password"
									id="password" required>
							</div>
						</div>
						<div class="field">
							<label class="label" th:text="#{password-repeat}"></label>
							<div class="control">
								<input class="input" type="password" id="password-repeat"
									required>
							</div>
						</div>

						<div style="height: 2px"></div>
						<div class="notification is-danger" id="password-info"
							th:text="#{password-change.warning}"></div>

						<div class="field">
							<label class="label" th:text="#{gender}"><span
								class="asterisk">*</span></label>
							<div class="select">
								<select name="gender" required>
									<option value=""></option>
									<th:block th:each="gender : ${genders}">
										<option th:value="${gender.id}"
											th:if="${gender.text == 'male'}"
											th:text="#{profile.gender.male}"></option>
										<option th:value="${gender.id}"
											th:if="${gender.text == 'female'}"
											th:text="#{profile.gender.female}"></option>
										<option th:value="${gender.id}"
											th:if="${gender.text == 'other'}"
											th:text="#{profile.gender.other}"></option>
									</th:block>
								</select>
							</div>
						</div>

						<!-- 
						<div class="field">
							<label class="label">I want...</label>
							<div class="select">
								<select name="intention" required>
									<option value=""></option>
									<option value="0">to meet new people</option>
									<option value="1">a relationship</option>
									<option value="2">sexual intimacy</option>
								</select>
							</div>
						</div> 
						 -->
						<div class="field">
							<label class="label" th:text="#{captcha}"></label> <input
								id="captcha-id" name="captchaId" type="hidden">

							<div class="field">
								<img id="captcha-image">
								<button type="button" class="button" onclick="refreshCaptcha()"
									style="height: 70px; width: 70px; font-size: 1.7rem; margin-left: 12px;">
									<i class="fa fa-sync"></i>
								</button>
							</div>
							<div class="field">
								<input class="input" id="captcha" name="captchaText"
									autocomplete="off" required>
							</div>
						</div>

						<div style="height: 24px"></div>

						<div class="field">
							<div class="field">
								<input id="tos" type="checkbox" name="tos" class="switch"
									style="position: absolute" required> <label for="tos"
									th:utext="#{register.tos-agree}"> </label>
							</div>
							<div class="field">
								<input id="pp" type="checkbox" name="pp" class="switch"
									style="position: absolute" required> <label for="pp"
									th:utext="#{register.privacy-agree}"> </label>
							</div>
						</div>

						<div class="register-warning"
							th:text="#{register.asterisk-warning}"></div>

						<div class="field is-grouped">
							<div class="control">
								<button class="button is-link" type="submit" th:text="#{submit}"></button>
							</div>
							<div class="control">
								<button class="button is-link is-light" type="button"
									onclick="window.location = '/'" th:text="#{cancel}"></button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="fragments.html::footer"></footer>

	<script src="/js/lib/fontawesome.all.js"></script>
	<script src="/js/lib/jquery.min.js"></script>
	<script src="/js/lib/bulma-calendar.min.js"></script>
	<script src="/js/tools/refreshCaptcha.js"></script>
	<script src="/js/tools/checkPassword.js"></script>

	<script src="/js/register.js"></script>



</body>
</html>
