<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="Alovoa">
<link rel="manifest" href="/json/manifest.json">

<link rel="stylesheet" href="/css/lib/bulma.min.css" />
<link rel="stylesheet" href="/css/lib/bulma-slider.min.css" />
<link rel="stylesheet" href="/css/alovoa.css" />
<link rel="stylesheet" href="/css/search.css" />
<title th:text="#{search.title}"></title>
</head>
<body>
	<div id="main-logged-in">
		<header th:insert="fragments.html::header-logged-in"></header>
		<div class="section">
			<div class="container is-small" style="display: flex">
				<div style="flex-grow: 1">
					<label class="label" th:text="#{search.max-distance}"></label>
					<div class="slider-container"
						style="padding-top: 8px; padding-bottom: 8px;">
						<input class="slider is-info" step="1000" min="1000" max="50000"
							value="20000" type="range" id="max-distance-slider">
						<p id="max-distance-display">20000</p>
						<div style="padding-left: 4px"></div>
						<span> </span>
						<span th:text="#{search.meters}"></span>
					</div>
				</div>
				<div style="padding-left: 24px;"></div>
				<div>
					<label class="label" th:text="#{sort}"></label>
					<div class="select">
						<select id="sort">
							<option value="1" th:text="#{search.sort.filter.distance}"></option>
							<option value="2" th:text="#{search.sort.filter.active}"></option>
						</select>
					</div>
				</div>
				<div style="padding-left: 24px;"></div>
				<div>

					<label class="label" th:text="#{search}"></label>
					<button class="button colored is-info" onclick="search()">
						<i class="fa fa-search"></i>
					</button>
				</div>
			</div>
		</div>

		<section class="container" id="main-container"></section>
	</div>

	<footer th:replace="fragments.html::navigation"></footer>
	<footer th:replace="fragments.html::footer"></footer>

	<script src="/js/lib/fontawesome.all.js"></script>
	<script src="/js/lib/jquery.min.js"></script>
	<script src="/js/tools/getNotification.js"></script>
	<script src="/js/tools/getText.js"></script>
	<script src="/js/search.js"></script>
</body>
</html>