<!DOCTYPE html>
<html dir="auto" th:lang="${lang}" th:with="lang=${#locale.language}" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="Alovoa" name="apple-mobile-web-app-title">
    <meta content="#121212" media="(prefers-color-scheme: dark)" name="theme-color">
    <link href="/manifest/manifest.json" rel="manifest">

    <link href="/css/lib/bulma.min.css" rel="stylesheet"/>
    <th:block th:replace="~{fragments.html::bulma}"></th:block>
    <th:block th:replace="~{fragments.html::ui-design}"></th:block>
    <link href="/css/lib/bulma-slider.min.css" rel="stylesheet"/>
    <link href="/css/lib/swiper.min.css" rel="stylesheet"/>
    <link href="/css/lib/modal-fx.min.css" rel="stylesheet"/>
    <link href="/css/lib/animate.min.css" rel="stylesheet"/>
    <link href="/css/alovoa.css" rel="stylesheet"/>
    <link href="/css/user-profile.css" rel="stylesheet"/>
    <title th:value="${user.firstName}"></title>
</head>

<body>
<div id="main-logged-in">
    <div id="user-profile-content">
        <th:block th:replace="~{fragments.html::user-profile}"></th:block>
        <th:block th:replace="~{fragments.html::user-profile-verification}"></th:block>
    </div>
</div>

<script src="/sw.js"></script>
<script src="/js/lib/fontawesome.all.js"></script>
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/swiper.min.js"></script>
<script src="/js/lib/modal-fx.min.js"></script>
<script src="/js/lib/bulma-toast.min.js"></script>
<script src="/js/tools/modal.js"></script>
<script src="/js/tools/get-text.js"></script>
<script src="/js/alovoa.js"></script>
<script src="/js/user-profile.js"></script>
<script src="/js/user-profile-lib.js"></script>
</body>
</html>